
<% if (Array.isArray(playerArray) && playerArray.length){
	<h2>The Two Chosen Players:</h2>
	<div>
		<% playerArray.forEach(function(player){ %>
			<img style="height: 200px; width: 200px;" src="<%= player.image %>">
			<p><%=player.name %></p>
		<%});%>
	</div>
}else{
		console.log("Array Empty!");
};%>

<form action="/node-dopple-main" method="POST">
	//<img src="" name="playerImage"><img src="" name="playerImage">
	<p>Player 1 Name: <input type="button" name = "playerName" value=""></p>
    <p>Player 2 Name: <input type="button" name = "playerName" value=""></p>
</form>